<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>laveha.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>41BCE69E2534F3FB00FCE6B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>41BCE6B42534F40000FCE6B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>41BCE6BF2534F40000FCE6B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
